<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Artificial
Version    : 1.0
Released   : 20070808
Description: A two-column, fixed-width with fluid header ideal for 1024x768 resolutions. Suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Artificial by Free Css Templates - modifiziert von JoeB</title>
<meta name="keywords" content="Dynamische Websites, Joe Brandes" />
<meta name="description" content="Seminare" />
<link href="templates/artificial/css/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="feeds"><a href="#" id="entries-rss">RSS-Feeds</a> <b>&nbsp;|&nbsp;</b> <a href="#" id="comments-rss">Comments (RSS)</a></div>
<hr />
<div id="logo">
	<h1><a href="#">Website: @@bereich@@</a></h1>
	<p><a href="http://www.freecsstemplates.org/preview/artificial" target="_blank">
  Original: Free CSS Templates</a></p>
</div>
<hr />
<!-- end header -->
<!-- start menu -->
@@dynmenu@@
<!-- end menu -->
<!-- start page -->
<div id="page">
	<!-- start content -->
	
	<div id="content">
		<!-- placeholder dyn content -->
		@@content@@
	
		<div class="post">
			<h1 class="title">Willkommen auf unserer neuen Site!</h1>
			<p class="meta"><small>Geschrieben von  <a href="#">Admin</a> im Sep 2008 <b>&nbsp;|&nbsp;</b> <a href="#">Comments (1)</a></small></p>
			<div class="entry">
				<p>This is <strong>Artificial</strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attributions 2.5</a> license, so you're pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)</p>
				<p>This template is also available as a <a href="http://www.freewpthemes.net/preview/artificial/">WordPress theme</a> at <a href="http://www.freewpthemes.net/">Free WordPress Themes</a>.</p>
				<p class="more"><a href="#">Read full post&hellip;</a></p>
			</div>
		</div>
		<div class="post">
			<h2 class="title">Common Tags Example</h2>
			<p class="meta"><small>Posted by <a href="#">Admin</a> on August 8th, 2007 <b>&nbsp;|&nbsp;</b> <a href="#">Comments (12)</a></small></p>
			<div class="entry">
				<p>This is a paragraph enclosed in <code>&lt;p&gt;&lt;/p&gt;</code> HTML tags. Other text manipulation tags will look like these:</p>
				<ul>
					<li><strong>bold</strong> is enclosed with <code>&lt;strong&gt;&lt;/strong&gt;</code> tags</li>
					<li><em>italic</em> is enclosed with <code>&lt;em&gt;&lt;/em&gt;</code> tags</li>
					<li><em><strong>bold italic</strong></em> is enclosed with <code>&lt;em&gt;&lt;strong&gt;&lt;/strong&gt;&lt;/em&gt;</code> tags</li>
					<li><code>code</code> is enclosed with <code>&lt;code&gt;&lt;/code&gt;</code> tags</li>
				</ul>
				<p class="more"><a href="#">Read full post&hellip;</a></p>
			</div>
		</div>
		<div class="post">
			<h2 class="title">Sample Blockquotes</h2>
			<p class="meta"><small>Posted by <a href="#">Admin</a> on August 8th, 2007 <b>&nbsp;|&nbsp;</b> <a href="#">Comments (12)</a></small></p>
			<div class="entry">
				<p>The most common <em>lorem ipsum</em> text reads as follows:</p>
				<blockquote>
					<p>&#8220;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat cupidatat non proident, sunt in culpa qui officia  deserunt mollit anim id est laborum.&#8221;</p>
				</blockquote>
				<p class="more"><a href="#">Read full post&hellip;</a></p>
			</div>
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li id="search">
				<h2>suche - @@datum@@</h2>
				<form method="get" action="">
					<fieldset>
					<input type="text" id="s" name="s" value="" />
					<input type="submit" id="x" value="Search" />
					</fieldset>
				</form>
			</li>
			<li>
				<h2>Berichte</h2>
				<ul>
					<li><a href="index.php?dyninhalt=example">Beispielartikel</a></li>
					<li><a href="#">Eget tempor eget nonummy</a></li>
					<li><a href="#">Magna lacus bibendum mauris</a></li>
					<li><a href="#">Nec metus sed donec</a></li>
					<li><a href="#">Magna lacus bibendum mauris</a></li>
					<li><a href="#">Velit semper nisi molestie</a></li>
					<li><a href="#">Eget tempor eget nonummy</a></li>
				</ul>
			</li>
			<li>
				<h2>Volutpat Dolore</h2>
				<ul>
					<li><a href="#">Eget tempor eget nonummy</a></li>
					<li><a href="#">Magna lacus bibendum mauris</a></li>
					<li><a href="#">Magna lacus bibendum mauris</a></li>
					<li><a href="#">Velit semper nisi molestie</a></li>
					<li><a href="#">Nec metus sed donec</a></li>
					<li><a href="#">Magna lacus bibendum mauris</a></li>
					<li><a href="#">Fusce dui neque fringilla</a></li>
				</ul>
			</li>
			<li>
				<h2>Magna Bibendum</h2>
				<ul>
					<li><a href="#">Nec metus sed donec</a></li>
					<li><a href="#">Magna lacus bibendum mauris</a></li>
					<li><a href="#">Velit semper nisi molestie</a></li>
					<li><a href="#">Eget tempor eget nonummy</a></li>
					<li><a href="#">Nec metus sed donec</a></li>
					<li><a href="#">Magna lacus bibendum mauris</a></li>
					<li><a href="#">Velit semper nisi molestie</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<div id="footer">
	<p id="legal">&copy;2007 All Rights Reserved. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
	<p id="links"><a href="#">Privacy</a> | <a href="#">Terms</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
</div>
</body>
</html>
