<div class="post">
			<h1 class="title">NEUE SEITE</h1>
			<p class="meta"><small>Geschrieben von  <a href="#">Admin</a> im Sep 2008 <b>&nbsp;|&nbsp;</b> <a href="#">Comments (1)</a></small></p>

			<div class="entry">
				<p>Das ist die neue Seite meiner dynamischen Konstruktion 2016!</p>
				<p>This template is also available as a <a href="http://www.freewpthemes.net/preview/artificial/">WordPress theme</a> at <a href="http://www.freewpthemes.net/">Free WordPress Themes</a>.</p>

				<p class="more"><a href="#">Read full post&hellip;</a></p>
			</div>
		</div>