/*
    Styling für Kalender
*/

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 75%;
}

td, th {
    width: auto;
    border: 1px solid black;
}

td {
    vertical-align: top;
    padding: 10px;
}


.rows {
    background-color: chocolate;
    color: white;
}

.sundays {
    color: chocolate;
    font-weight: bold;
    /* text-decoration: underline; */
}

.workdays {
    color: #444;
    font-size: 1em;
}
