@charset "utf-8";
/* CSS Document */
	 html  { 
   font-family: Verdana, Geneva, sans-serif;
   font-size: 62.5%;
   line-height: 180%;
   color: #666; 
}
body {
   font-size: 1.4em;
}
h1 { 
   font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
   font-size: 200%; }
 
h1, h2 {
	line-height: 130%;
}

div, header, footer { 
   border: 1px solid grey; 
   margin: 5px;
   padding: 10px;
	 display: box;
}
footer { 

   background-color: #efefef;
   text-align: center;
}
   

