form div { 
    border: none; 
    margin-bottom: 1em;
}
				
fieldset {
    width: 95%;
    padding: 1em;
    background: rgb(250, 250, 250);
    border-radius: 5px;	
    background: linear-gradient(90deg #fff, #7C8EA8);
}

legend {
    background: white;	
    padding: 0.6em;
    border: 1px solid lightgray;
    box-shadow: inset 2px 2px 3px rgba(0,0,0,0.1); 
    border-radius: 3px;
}

label {
    width: 6em;
    display: inline-block;
    text-align: right;
}
div>label:first-child {
    width: 8em;
    text-align: left;
    padding-top: 0.3em;
    vertical-align:top;
}
input, select, textarea {
    width: 30em;
    padding: 0.3em;
    border: 1px solid lightgray;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1); 
    border-radius: 3px;
}
input:hover,select:hover,textarea:hover {
    /* background: #ffc; */
    background: #D4D9DD;
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}
input:focus,select:focus,textarea:focus {
    border: 1px solid lightgray;
    box-shadow: 0 0 10px rgba(32,204,255,0.7); 
    outline: none;
}

input#strasse { width: 18em; }

input#ort { width: 17em; }

input[type="checkbox"], input[type="radio"] {
    width: auto;
    border: none; /* IE */
}
.form_short { width: 10em; }

.form_4 { width: 4em; }

.form_5 { width: 5em; }

.form_check label { display: inline; }

label[for^="news"] { display: inline; }

.form_check input { margin-left: 7em; }

input#news_ja, input#news_nein { margin-left: 7em; }

input[type="submit"], input[type="reset"] {
    width: 10em;
    padding: 0.6em;
    background: #fafafa;
    border: 1px solid #aaa;
    /* border-radius: 20px; */
    background-image: linear-gradient(	
        rgb(250,250,250) 10%,
        rgb(204,204,204) 100%
        );	

    box-shadow: 0px 0px 5px rgba(255,255,255,0.8); 
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8); 
}
input[type="submit"] {
    margin-left: 10em;
    margin-right: 0.2em;
    font-weight:bold;
}
input[type="submit"]:hover, input[type="submit"]:focus {
    border-color: #3a3;
    color: #3a3;
}
input[type="reset"]:hover, input[type="reset"]:focus {
    border-color: #f55;
    color: #f55;
}

input[type="submit"]:active,
input[type="reset"]:active {

background-image:linear-gradient(
        rgb(250,250,250) 10%,
        rgb(204,204,204) 100%
        );	
}
fieldset{width: 80%; margin: auto;}

